In [24]:
import pandas as pd
df=pd.read_csv('cubic-colums.csv') 
df

               29348      A1_A2_BX3
0      3-Py_FM_BaBr3   3-Py_AA_PbI3
1      3-Py_FM_BaCl3   3-Py_AA_SrI3
2       3-Py_FM_BaF3  3-Py_Az_HfBr3
3       3-Py_FM_BaI3   3-Py_Az_HfI3
4      3-Py_FM_MgBr3   3-Py_Az_HgI3
...              ...            ...
29343    MA_TiZ_MnF3            NaN
29344    MA_TiZ_MnI3            NaN
29345   3-Py_FM_AgI3            NaN
29346    Cs_GUA_CdI3            NaN
29347   Cs_GUA_CdBr3            NaN

[29348 rows x 2 columns]

In [25]:

df = df[~df['29348'].isin(df['A1_A2_BX3'])]

In [26]:
df

               29348      A1_A2_BX3
0      3-Py_FM_BaBr3   3-Py_AA_PbI3
1      3-Py_FM_BaCl3   3-Py_AA_SrI3
2       3-Py_FM_BaF3  3-Py_Az_HfBr3
3       3-Py_FM_BaI3   3-Py_Az_HfI3
4      3-Py_FM_MgBr3   3-Py_Az_HgI3
...              ...            ...
29337   MA_TiZ_PdBr3            NaN
29338   MA_TiZ_PdCl3            NaN
29339    MA_TiZ_PdF3            NaN
29340    MA_TiZ_PdI3            NaN
29343    MA_TiZ_MnF3            NaN

[25165 rows x 2 columns]

In [27]:
df.to_csv('eliminated.csv')